@mixin expand($width: true, $height: true) {
  @if $width {
    width: 100%;
  }
  @if $height {
    height: 100%;
  }
}

@mixin fill-screen($width: true, $height: true) {
  @if $width {
    width: 100vw;
  }
  @if $height {
    height: 100vh;
  }
}
