@use "styles/fonts" as f;
@use "styles/colors" as c;

.landing {
  block-size: 500px;
  background-color: c.$black;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.sphere {
  position: absolute;
  block-size: 100%;
  inline-size: 100%;
}

.atropos {
  block-size: 100%;
  inline-size: 100%;
}

.info {
  block-size: 100%;
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;

  h1,
  p {
    color: c.$white;
    font-weight: 700;
    font-family: "Nunito Sans", sans-serif;
    text-align: center;
  }

  p {
    font-size: f.$h2;
    --ti-cursor-color: gray;
    --ti-cursor-font-size: clamp(1.5rem, 3.5vw, 3rem);

    strong {
      background-color: c.$white;
      text-transform: uppercase;
      color: c.$black;
    }
  }

  h1 {
    font-size: f.$h1;
  }
}
