@use "styles/colors" as c;
@use "styles/sizes" as s;

.page {
  @include s.fill-screen();
  scroll-snap-type: y mandatory;
  overflow: scroll;
}

.sphere {
  @include s.fill-screen();
  position: fixed;
  background-color: c.$black;
  z-index: -1;
}

.section {
  scroll-snap-align: start;
}
